###we know that all the intraction to your k8s cluster happen through api
apiVersion: v1
####pod is a generic term
#it will invoke the pod api which is like a wrapper to deploy our container workload
kind: Pod #kubernetes entity
metadata:
  name: container-with-security-context #inside your k8s cluster we need to create a pod.  
spec:
  securityContext:
    runAsUser: gopal #gopal
    runAsGroup: 3000 #gopal
    fsGroup: 2000 #gopal
 #inside my pod api i want to deploy a container
  volumes:
  - name: logs 
    emptyDir: {}
  containers: 
  - name: appcontainer
    image: alpine 
    command: ["/bin/sh"]
    args: ["-c","while true; do date >> /var/log/app.log; sleep 5; done"]
    volumeMounts:
    - name: logs 
      mountPath: /var/log 
    securityContext:
      allowPrivilegeEscalation: false
  - name: appcontainer-2
    image: alpine 
    command: ["/bin/sh"]
    args: ["-c","while true; do date >> /var/log/app.log; sleep 5; done"]
    volumeMounts:
    - name: logs 
      mountPath: /var/log 
    securityContext:
      runAsUser: ghanshyam #container security contenxt
      allowPrivilegeEscalation: false
      
      
    
  
   